<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="faq.css">
</head>
<body>
  <header>
    <div class="nav-left">
      <a href="/index">Home</a>
      <a href="/products">Products</a>
      <a href="/faq">FAQ</a>
    </div>

    <div class="search-container">
      <input type="text" placeholder="Search for Item">
      <img src="search-icon.svg">
    </div>
  </header>

  <div class="faq">
    <div class="questions" onclick="toggleAnswer(this)">
      Q1. How shall I login?
      <img src="/arrowhead-down.svg">
    </div>
    <div class="answers">
      A1. 
    </div>
    <div class="questions" onclick="toggleAnswer(this)">
      Q2.
      <img src="/arrowhead-down.svg">
    </div>
    <div class="answers">
      A2. 
    </div>
    <div class="questions" onclick="toggleAnswer(this)">
      Q3. 
      <img src="/arrowhead-down.svg">
    </div>
    <div class="answers">
      A3. 
    </div>
    <div class="questions" onclick="toggleAnswer(this)">
      Q4. 
      <img src="/arrowhead-down.svg">
    </div>
    <div class="answers">
      A4. 
    </div>
    <div class="questions" onclick="toggleAnswer(this)">
      Q5. 
      <img src="/arrowhead-down.svg">
    </div>
    <div class="answers">
      A5. 
    </div>
  </div>

  <script src="faq.js"></script>
</body>
</html>