<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="faq.css">
</head>
<body>
  <header>
    <div class="nav-left">
      <img src="/images/logo.svg" class="logo">
      <a href="/index">Home</a>
      <a href="/products">Products</a>
      <a href="/faq">FAQ</a>
    </div>

    <div class="nav-right">
      <a href="/cart" class="btn">Cart</a>
      <a href="/login" class="btn">Log out</a>
    </div>
  </header>
  <main class="faq-container">
    <h1>Frequently Asked Questions</h1>
    <div class="faq">
      <div class="questions" onclick="toggleAnswer(this)">
        Q1. What products do you sell?
        <img src="/arrowhead-down.svg">
      </div>
      <div class="answers">
        A1. We offer a wide range of fruits carefully curated for quality and value. You can explore our full collection on the Products page.
      </div>
      <div class="questions" onclick="toggleAnswer(this)">
        Q2. How can I place an order?
        <img src="/arrowhead-down.svg">
      </div>
      <div class="answers">
        A2. Simply signin/login, browse our products, add items to your cart, and proceed to checkout. 
      </div>
      <div class="questions" onclick="toggleAnswer(this)">
        Q3. How can I contact customer support?
        <img src="/arrowhead-down.svg">
      </div>
      <div class="answers">
        A3. You can reach us at aashitapamnani@gmail.com or message us at 8668478207. We typically respond within 24 hours.
      </div>
      <div class="questions" onclick="toggleAnswer(this)">
        Q4. How do I track my order?
        <img src="/arrowhead-down.svg">
      </div>
      <div class="answers">
        A4. After your order is shipped, you’ll get a tracking link via email. You can also log in to your account to view tracking updates.
      </div>
      <div class="questions" onclick="toggleAnswer(this)">
        Q5. Do you ship internationally?
        <img src="/arrowhead-down.svg">
      </div>
      <div class="answers">
        A5. Currently, we only ship within India. International shipping will be added soon—stay tuned!
      </div>
    </div>
  </main>
  

  <script src="faq.js"></script>
</body>
</html>