<html>
  <head>
    <link rel="stylesheet" href="/signup.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header>
      <div class="logo">EMart</div>
      <div class="logo-image">
        
      </div>
    </header>

    <div class="outer-box">
      <div class="main">
        <div class="card">
          <h2>Login</h2>
          <h3>Enter your credentials</h3>
          <form action="/login" method="POST">
            <input type="email" placeholder="Email" class="control" name="username" />
            <input type="password" placeholder="Password" class="control" name="password"/>
            <button type="submit" class="control btn btn-dark">Login</button>
            <% if (error) { %>
            <p style="color: #D32F2F; margin-top: 15px;"><%= error %></p>
            <% } %>
          </form>
        </div>
      </div>
      <div class="welcome-text">
        <div>
          <div class="greet"><h2><span>Welcome</span> Back!</h2></div>
          <div class="garbage-message">
            Ready to stock up on freshness? Your favorite fruits and veggies are just a click away.
          </div>
          <div class="redirect-login">
            <div><h3><span>New Here?</span> Create an account!</h3></div>
            <a href="/signup" class="btn">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
