<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
   <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="products.css">
  
</head>
<body>
    <header>
    <div class="nav-left">
      <a href="/index">Home</a>
      <a href="/products">Products</a>
      <a href="/faq">FAQ</a>
    </div>

    <div class="search-container">
      <input type="text" placeholder="Search for Item" id="searchInput">
      <img src="search-icon.svg">
    </div>

    <a href="/cart" class="cart-button" title="View Cart">
      <img src="shoppingcart.svg" alt="Cart">
    </a>
  </header>


<div class="products-grid">

  <!-- Apples -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="apples" data-name="Apples">
      <div class="stock-container">
        <div>Stock: <span class="stock">7</span></div>
      </div>
      <div> 
        <img src="/images/apples.svg" class="product-image" alt="Apples">
      </div>
      <div class="product-name">Apples</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">
          <div>Rs. <span class="product-price" id="priceDisplay-apples">100</span></div>
        </div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="apples">-</button>
          <span class="quantity" id="quantity-apples">1</span>
          <button type="button" class="increase" data-id="apples">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Apples">
      <input type="hidden" name="price" id="priceInput-apples" value="100">
      <input type="hidden" name="quantity" id="quantityInput-apples" value="1">
      <div class="add-to-cart-button">
        <button type="submit" name="addtocart">Add to Cart</button>
      </div>
    </div>
  </form>
</div>
  <!-- mangoes -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="mangoes" data-name="Mangoes">
      <div class="stock-container">
        <div>Stock: <span class="stock">10</span></div>
      </div>
      <div>
        <img src="/images/mangoes.svg" class="product-image" alt="mangoes">
      </div>
      <div class="product-name">Mangoes
      </div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">
          <div>Rs. <span class="product-price" id="priceDisplay-mangoes">80</span></div>
        </div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="mangoes">-</button>
          <span class="quantity" id="quantity-mangoes">1</span>
          <button type="button" class="increase" data-id="mangoes">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Mangoes">
      <input type="hidden" name="price" id="priceInput-mangoes" value="80">
      <input type="hidden" name="quantity" id="quantityInput-mangoes" value="1">
      <div class="add-to-cart-button">
        <button type="submit" name="addtocart">Add to Cart</button>
      </div>
    </div>
  </form>
</div>

<!-- Pear -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="Pear" data-name="Pear">
      <div class="stock-container"><div>Stock: <span class="stock">5</span></div></div>
      <div><img src="/images/Pear.svg" class="product-image" alt="Pear"></div>
      <div class="product-name">Pear</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-Pear">130</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="Pear">-</button>
          <span class="quantity" id="quantity-Pear">1</span>
          <button type="button" class="increase" data-id="Pear">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Pear">
      <input type="hidden" name="price" id="priceInput-Pear" value="130">
      <input type="hidden" name="quantity" id="quantityInput-Pear" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>

  <!-- Bananas -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="bananas" data-name="Bananas">
      <div class="stock-container"><div>Stock: <span class="stock">12</span></div></div>
      <div><img src="/images/banana.svg" class="product-image" alt="Bananas"></div>
      <div class="product-name">Bananas</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-bananas">30</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="bananas">-</button>
          <span class="quantity" id="quantity-bananas">1</span>
          <button type="button" class="increase" data-id="bananas">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Bananas">
      <input type="hidden" name="price" id="priceInput-bananas" value="30">
      <input type="hidden" name="quantity" id="quantityInput-bananas" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>
  <!-- Grapes -->
   <div class="product-item">
  <form action="/addtocart" method="POST" data-name="Grapes">
    <div class="product-main-body" id="grapes" data-name="Grapes">
      <div class="stock-container"><div>Stock: <span class="stock">9</span></div></div>
      <div><img src="/images/grape.svg" class="product-image" alt="Grapes"></div>
      <div class="product-name">Grapes</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-grapes">70</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="grapes">-</button>
          <span class="quantity" id="quantity-grapes">1</span>
          <button type="button" class="increase" data-id="grapes">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Grapes">
      <input type="hidden" name="price" id="priceInput-grapes" value="70">
      <input type="hidden" name="quantity" id="quantityInput-grapes" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>
  <!-- Pineapple -->
   <div class="product-item>
  <form action="/addtocart" method="POST" data-name="Pineapple">
    <div class="product-main-body" id="pineapple" data-name="Pineapples">
      <div class="stock-container"><div>Stock: <span class="stock">4</span></div></div>
      <div><img src="/images/pineapple.svg" class="product-image" alt="Pineapple"></div>
      <div class="product-name">Pineapple</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-pineapple">60</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="pineapple">-</button>
          <span class="quantity" id="quantity-pineapple">1</span>
          <button type="button" class="increase" data-id="pineapple">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Pineapple">
      <input type="hidden" name="price" id="priceInput-pineapple" value="60">
      <input type="hidden" name="quantity" id="quantityInput-pineapple" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>
  <!-- Lemon -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="Lemon" data-name="Lemon">
      <div class="stock-container"><div>Stock: <span class="stock">6</span></div></div>
      <div><img src="/images/lemon.svg" class="product-image" alt="Lemon"></div>
      <div class="product-name">Lemon</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-Lemon">50</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="Lemon">-</button>
          <span class="quantity" id="quantity-Lemon">1</span>
          <button type="button" class="increase" data-id="Lemon">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Lemon">
      <input type="hidden" name="price" id="priceInput-Lemon" value="50">
      <input type="hidden" name="quantity" id="quantityInput-Lemon" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>
  <!-- Strawberries -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="strawberries" data-name="Strawberries">
      <div class="stock-container"><div>Stock: <span class="stock">3</span></div></div>
      <div><img src="/images/strawberry.svg" class="product-image" alt="Strawberries"></div>
      <div class="product-name">Strawberries</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-strawberries">110</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="strawberries">-</button>
          <span class="quantity" id="quantity-strawberries">1</span>
          <button type="button" class="increase" data-id="strawberries">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Strawberries">
      <input type="hidden" name="price" id="priceInput-strawberries" value="110">
      <input type="hidden" name="quantity" id="quantityInput-strawberries" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>
  <!-- Blueberries -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="blueberries" data-name="Blueberries">
      <div class="stock-container"><div>Stock: <span class="stock">2</span></div></div>
      <div><img src="/images/blueberry.svg" class="product-image" alt="Blueberries"></div>
      <div class="product-name">Blueberries</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-blueberries">150</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="blueberries">-</button>
          <span class="quantity" id="quantity-blueberries">1</span>
          <button type="button" class="increase" data-id="blueberries">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Blueberries">
      <input type="hidden" name="price" id="priceInput-blueberries" value="150">
      <input type="hidden" name="quantity" id="quantityInput-blueberries" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
</div>
  <!-- Watermelon -->
   <div class="product-item">
  <form action="/addtocart" method="POST">
    <div class="product-main-body" id="watermelon" data-name="Watermelon">
      <div class="stock-container"><div>Stock: <span class="stock">7</span></div></div>
      <div><img src="/images/watermelon.svg" class="product-image" alt="Watermelon"></div>
      <div class="product-name">Watermelon</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-watermelon">40</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="watermelon">-</button>
          <span class="quantity" id="quantity-watermelon">1</span>
          <button type="button" class="increase" data-id="watermelon">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="Watermelon">
      <input type="hidden" name="price" id="priceInput-watermelon" value="40">
      <input type="hidden" name="quantity" id="quantityInput-watermelon" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
   </div>
   <div class="product-item">
<form action="/addtocart" method="POST">
    <div class="product-main-body" id="Pineapple" data-name="Kiwi">
      <div class="stock-container"><div>Stock: <span class="stock">5</span></div></div>
      <div><img src="/images/kiwi.svg" class="product-image" alt="kiwi"></div>
      <div class="product-name">Kiwi</div>
      <div class="product-price-and-quantity">
        <div class="product-price-container">Rs. <span class="product-price" id="priceDisplay-kiwi">120</span></div>
        <div class="product-quantity">
          <button type="button" class="decrease" data-id="kiwi">-</button>
          <span class="quantity" id="quantity-Pineapple">1</span>
          <button type="button" class="increase" data-id="kiwi">+</button>
        </div>
      </div>
      <input type="hidden" name="productName" value="kiwi">
      <input type="hidden" name="price" id="priceInput-kiwi" value="120">
      <input type="hidden" name="quantity" id="quantityInput-kiwi" value="1">
      <div class="add-to-cart-button"><button type="submit">Add to Cart</button></div>
    </div>
  </form>
  </div>
  
</div>

</div>

      </form>


  </div>

  <script>
  document.addEventListener("DOMContentLoaded", () => {
    const products = document.querySelectorAll(".product-main-body");

    // 🔧 Search functionality
    const searchInput = document.getElementById("searchInput");

    searchInput.addEventListener("input", () => {
      const query = searchInput.value.toLowerCase().trim();

      products.forEach(product => {
        const name = product.getAttribute("data-name").toLowerCase();
        if (name.includes(query)) {
          product.parentElement.style.display = "block";
        } else {
          product.parentElement.style.display = "none";
        }
      });
    });

    // Quantity and price logic
    products.forEach(product => {
      const id = product.id;
      const stock = parseInt(product.querySelector(".stock").innerText);
      const basePrice = parseInt(product.querySelector(`#priceDisplay-${id}`).innerText);

      const quantityDisplay = document.getElementById(`quantity-${id}`);
      const quantityInput = document.getElementById(`quantityInput-${id}`);
      const priceDisplay = document.getElementById(`priceDisplay-${id}`);
      const priceInput = document.getElementById(`priceInput-${id}`);

      const increaseBtn = product.querySelector(".increase");
      const decreaseBtn = product.querySelector(".decrease");

      function updateTotal() {
        const quantity = parseInt(quantityDisplay.innerText);
        const totalPrice = basePrice;
        priceDisplay.innerText = totalPrice;
        priceInput.value = totalPrice;
      }

      increaseBtn.addEventListener("click", () => {
        let quantity = parseInt(quantityDisplay.innerText);
        if (quantity < stock) {
          quantity++;
          quantityDisplay.innerText = quantity;
          quantityInput.value = quantity;
          updateTotal();
        } else {
          alert(`Only ${stock} items available in stock.`);
        }
      });

      decreaseBtn.addEventListener("click", () => {
        let quantity = parseInt(quantityDisplay.innerText);
        if (quantity > 1) {
          quantity--;
          quantityDisplay.innerText = quantity;
          quantityInput.value = quantity;
          updateTotal();
        }
      });

      updateTotal();
    });
  });
</script>

</body>
</html>
