.faq 
{
  max-width: 900px; 
  margin: 50px auto; 
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.questions 
{
  background-color: rgb(255, 255, 255);
  padding: 25px;
  font-size: 18px; 
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.questions:hover 
{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.questions img 
{
  position: absolute;
  right: 25px;
  top: 50%;
  height: 25px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.questions.active 
{
  border-color: rgb(37, 99, 235); 
  color: rgb(17, 24, 39); 
  background-color: rgb(249, 250, 251);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none; 
}
.questions.active img 
{
  transform: translateY(-50%) rotate(180deg);
}

.answers 
{
  display: none;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  padding-top: 0; 
  font-size: 18px;
  line-height: 1.75; 
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  overflow-wrap: anywhere;
}

.answers.visible 
{
  display: block;
}

.faq-container h1
{
  text-align: center;
  padding-top: 20px;
}